{% extends "telaAdministrador.twig"%}

{% block conteudoCentral %}
    <h1> Bem Vindo a Tela de Alteração de Imoveis</h1>
    <h6> Selecione o Imovel a Alterar!!! </h6>
    <div class="row">
    {% for imoveis in imoveis  %}
        
      <div class="col-lg-4 col-sm-6 portfolio-item">
         <a href="/formulario-alterar-imovel/{{imoveis.id}}">         
          <div class="card h-100">
            <img class="card-img-top" src="{{imoveis.imagem1}}">
            <div class="card-body">
              <h4 class="card-title">
                 {{imoveis.titulo}}
              </h4>
              <p class="card-text">{{imoveis.descricao}}</p>
            </div>
            </a>
          </div>
          
        </div>
          
       {%endfor%}
   
{% endblock %}
